<!DOCTYPE html>
<html>
  <head>
    <title> <%= full_title(yield(:title)) %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag('application', {media: 'all', 'data-turbolinks-track': 'reload'}) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
      <div class="container">
        <a class="navbar-brand" href="#" id="logo">Sample App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Log In</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Nessa parte é inserida a pagina (home.html.erb, about.html.erb, etc.) -->
    <div class="container">
      <%= yield %>
    </div>
  </body>

  <footer class="footer">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4">
        <small>
          The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
          by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
        </small>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item"><%= link_to "About",   '#', class: "nav-link" %></li>
          <li class="nav-item"><%= link_to "Contact", '#', class: "nav-link" %></li>
          <li class="nav-item"><a href="http://news.railstutorial.org/", class="nav-link">News</a></li>
        </ul>
      </nav>
    </div>
  </footer>

</html>
